body {
  overflow-x: hidden; }

.fa {
  font-size: 55px; }

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8; }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  .navbar .nav-item.active {
    border-left: #444 3px solid; }

#home-section {
  background-image: url("../img/show-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    min-height: 700px;
    top: 0;
    left: 0;
    width: 100%; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .home-text {
    color: white; }
  #home-section .fa {
    color: #008ed6;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#home-heading {
  background-color: #161616;
  color: white; }

.img-gallery {
  width: 350px;
  height: 350px; }

#contact {
  background-color: #161616;
  color: white; }
