body {
  overflow-x: hidden; }

#navbar .brand {
  font-family: 'Bree Serif', serif;
  font-size: 20px; }

#showcase h1 {
  font-family: 'Bree Serif', serif; }

#showcase .header {
  font-size: 20px; }

#space .space {
  height: 100px; }

.fa {
  font-size: 55px; }

.navbar {
  border-bottom: #008ed6 3px solid;
  background-color: white; }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  .navbar .nav-item.active {
    border-left: #444 3px solid; }
  .navbar .logo {
    width: 50px;
    height: 50px; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-1.jpg");
  width: 100%; }

.carousel-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-2.jpg");
  backgorund-size: cover; }

.carousel-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-3.jpg");
  backgorund-size: cover; }

#testimonial img {
  border-radius: 50%;
  width: 150px;
  height: 150px; }

#testimonial h5 {
  color: #008ed6; }

#gallery {
  background-color: #161616;
  color: #868686; }
  #gallery img {
    margin-right: 20px; }

.img-gallery {
  width: 350px;
  height: 350px; }

#footer {
  background-color: #161616;
  color: #c5c5c5; }
  #footer a {
    color: #c5c5c5;
    display: block; }
  #footer h3 {
    color: #c5c5c5; }
  #footer hr {
    border-color: #c5c5c5; }
  #footer .fa {
    font-size: 15px; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #footer .inline-kan {
    display: inline; }
  #footer .logo {
    width: 15px;
    height: 15px; }
  #footer .line {
    width: 15px;
    height: 15px; }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

.column img {
  margin-top: 8px;
  vertical-align: middle; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%; } }

#footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; }
