body {
  overflow-x: hidden; }

.fa {
  font-size: 55px; }

.navbar {
  border-bottom: #008ed6 3px solid; }
  .navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  .navbar .nav-item.active {
    border-left: #444 3px solid; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-1.jpg");
  backgorund-size: cover; }

.carousel-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-2.jpg");
  backgorund-size: cover; }

.carousel-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/half/show-3.jpg");
  backgorund-size: cover; }

#testimonial img {
  border-radius: 50%; }

#gallery {
  background-color: #161616;
  color: #868686; }

.img-gallery {
  width: 350px;
  height: 350px; }

#footer {
  background-color: #161616;
  color: #c5c5c5; }
  #footer a {
    color: #c5c5c5;
    display: block; }
  #footer h3 {
    color: #c5c5c5; }
  #footer hr {
    border-color: #c5c5c5; }
  #footer .fa {
    font-size: 15px; }
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #footer .inline-kan {
    display: inline; }
