$icon-size: 55px;
$dark-overlay: rgba(0, 0, 0, 0.7);
$primary-color: #008ed6;
$font-size: 30px;
$font-color: #fff;
$bg-color: #333;


body{
	overflow-x:hidden;
}

#navbar{
	.brand{
		font-family: 'Bree Serif', serif;
		font-size: 20px;
	}
}
#showcase{
	h1{
		font-family: 'Bree Serif', serif;

	}

	.header{
		font-size:20px;
	}
}

#space{
	.space{
		height:100px;
	}
}

.fa{
	font-size: $icon-size;
}

.navbar{

	border-bottom: $primary-color 3px solid;
	background-color:white;
	
	.nav-link{
		font-size: 14px;
		text-transform: uppercase;
		padding-left: 1em !important;
		padding-right: 1em !important;
	}

	.nav-item.active{
		border-left: #444 3px solid;
	}

	.logo{
		width:50px;
		height:50px;
	}
}

.carousel-item{
	height:450px;
}
.carousel-img-1{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/half/show-1.jpg');
	width:100%;
}

.carousel-img-2{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/half/show-2.jpg');
	backgorund-size:cover;
}
.carousel-img-3{
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/half/show-3.jpg');
	backgorund-size:cover;
}

#testimonial{
	img{
		border-radius:50%;
		width:150px;
		height:150px;
	}
	h5{	
		color:$primary-color;
	}
}

#gallery{
	background-color:#161616;
	color: #868686;
	img{
		margin-right:20px;
	}
}
.img-gallery{
	width: 350px;
	height: 350px;
}

#footer{
	background-color: #161616;
	color: #c5c5c5;

	a{
		color:#c5c5c5;
		display:block;
	}

	h3{
		color: #c5c5c5;
	}

	hr{
		border-color:#c5c5c5;
	}

	.fa{
	font-size:15px;
	}

	ul{
		list-style-type:none;
		margin: 0;
		padding: 0;
	}
	.inline-kan{
		display:inline;
	}

	.logo{
		width:15px;
		height:15px;
	}

	.line{
		width:15px;
		height:15px;
	}
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

#footer {

	position: relative;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	text-align: center;
}